/*
    custom css
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body, .ui-btn {
    font-family: Roboto;
}

.divTextCenter {
    text-align:center;
}
.startPadingMap {
            height: 60%;
}
.middleImage {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.grids150 {
    width: 100%; 
    height: 150px; 
    position: relative; 
    background-color: #fbfbfb;
}
.grids {
    width: 100%; 
    height: 100px; 
    position: relative; 
    background-color: #fbfbfb;
}
.map-canvas { width: 100%; 
              height: 100%; 
              padding: 0; }
.map-page{ width: 100%; 
           height: 100%; 
           padding: 0; }
