<!DOCTYPE html>
<!--
    About me.html
    Author: BO LIU(Alex)
    Website name: BO LIU (Alex) Portfolio
    Description: About myself introduction and my latest C.V
-->


    <div class="row startPading">
        <div class="large-3 columns">
            <a class="th" role="button" aria-label="Thumbnail" href="/css/Content/images/Alex.PNG">
                <img aria-hidden=true src="/css/Content/images/Alex.PNG" />
            </a>
        </div>
        <div class="large-9 columns">
            <div class="panel callout radius">
                <h5>BO LIU (Alex)</h5>
                <p>
                    •Results-oriented professional with over 5 years of experience in computer software and technology<br />
                    •	Over 3 years on iOS application and game development, several apps published in App Store<br />
                    •	Over 5 million apps downloaded in my App Store and Markets<br />
                    •	Familiar with game development on framework XNA for Windows and Cocos2d-x for cross-platform<br />
                    •	Friendly, accurate, energetic and highly motivated software engineer with a Degree in Computer Science
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <h5>RELEVANT WORK EXPERIENCE:</h5>
        <div class=" callout radius">

            <table>

                <thead>
                    <tr>
                        <th>
                            Senior Mobile Developer & Team Leader	<br />
                            Eastcoast Investing Group Inc (Part-time)
                        </th>
                        <th width="150">2014.6 - present</th>
                        <th width="150">Toronto, Canada</th>

                    </tr>
                </thead>

            </table>
            <table>
                ToMore App (For iOS download HERE), CMS System and Website (HERE), Android(comming soon)
                <tbody>
                    <tr>
                        <td>Architected and implemented the whole iOS version for ToMore.</td>
                    </tr>
                    <tr>
                        <td>Designed and implemented data structure for server and client communication.</td>
                    </tr>
                    <tr>
                        <td>Implemented CMS for magazine and other content CURD function on server</td>
                    </tr>
                </tbody>
            </table>

            <table>

                <thead>
                    <tr>
                        <th>
                            Kinect Application Developer(C#, Kinect SDK) <br />Centennial College (Part-time)
                        </th>
                        <th width="150">2014.1 - 2014.4</th>
                        <th width="150">Toronto, Canada</th>

                    </tr>
                </thead>

            </table>
            <table>
                Patients recovery System
                <tbody>
                    <tr>
                        <td>Captured doctor's movements with input feedback save into XML files.</td>
                    </tr>
                    <tr>
                        <td>Designed algorithm to check patients' movements whether meets doctor's feedback.</td>
                    </tr>
                    <tr>
                        <td>Implemented algorithm to load doctor's feedback as rules to help patient's recovery.</td>
                    </tr>
                </tbody>
            </table>

            <table>

                <thead>
                    <tr>
                        <th>
                            C# and Asp.Net Developer	<br />
                            OPTI Wheels (Part-time)
                        </th>
                        <th width="150">2014.4 - 2014.6</th>
                        <th width="150">Toronto, Canada</th>

                    </tr>
                </thead>

            </table>
            <table>
                OPTI Wheels (Optib2b.ca)
                <tbody>
                    <tr>
                        <td>Architected with Microsoft Three-Layers Framework.</td>
                    </tr>
                    <tr>
                        <td>Implemented shopping cart, order, product list and filters.</td>
                    </tr>
                    <tr>
                        <td>Implemented user management, order management, product management.</td>
                    </tr>
                </tbody>
            </table>
            <table>

                <thead>
                    <tr>
                        <th>
                            Senior iOS Developer	<br />
                            Self Employed
                        </th>
                        <th width="150">2012.6-2013.8</th>
                        <th width="150">Beijing</th>

                    </tr>
                </thead>

            </table>
            <table>
                Magic Fishery Game (September 2012 – February 2013)
                <tbody>
                    <tr>
                        <td>Cross-platform game based on Cocos2d-X  (Major in C++), supporting iOS and Android.</td>
                    </tr>
                    <tr>
                        <td>Implemented game design, animations, menus, In-App-Purchase and events.</td>
                    </tr>
                    <tr>
                        <td>Designed a directly executable downloaded working mode based on LUA.</td>
                    </tr>
                    <tr>
                        <td>Download at App Store: HERE 	 Google Android Market : HERE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                CamPro - Photo Editor Inside (April 2013 – July 2013, download at App Store: HERE)
                <tbody>
                    <tr>
                        <td>Implemented various filters based on iOS camera (Major in Objective - C).</td>
                    </tr>
                    <tr>
                        <td>Implemented functions to select favorite photos for further design with CamPro.</td>
                    </tr>
                    <tr>
                        <td>Designed accurate positioning with grid mode, self-server camera modes.</td>
                    </tr>
                </tbody>
            </table>

            <table>
                iOS Book reader with bookstore (Oct  2012 – Jan 2013, download at App Store: HERE)

                <tbody>
                    <tr>
                        <td>iOS Epub Books Reader with books store (Objective-C, HTML).</td>
                    </tr>
                    <tr>
                        <td>Implemented server with PHP and MySQL, data transfer based on HTTP and JSON.</td>
                    </tr>
                    <tr>
                        <td>Paging with Animation, download books, Epub format parsing, save bookmarks, OPDS protocol.</td>
                    </tr>
                </tbody>
            </table>

            <table>

                <thead>
                    <tr>
                        <th>
                            Senior iOS Developer and Project Manager	<br />
                            iTotem Tech
                        </th>
                        <th width="150">2010 - 2012</th>
                        <th width="150">Beijing</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Built software development capability through self-study of the new development language Objective-C and iOS Framwork.</td>
                    </tr>
                    <tr>
                        <td>Identified and reports clients’ business needs and opportunities.</td>
                    </tr>
                    <tr>
                        <td>Assigned resources to projects on client engagements and wrote weekly reports.</td>
                    </tr>
                    <tr>
                        <td>Demonstrated mastery of the ability to initiate, plan, execute, control, and close complex and dynamic projects.</td>
                    </tr>
                </tbody>
            </table>

            <table>
                Projects:
                Auto VIN code Scanner (Dec 2011 – Feb 2012, download at App Store: HERE)
                <tbody>
                    <tr>
                        <td>Built camera based application to scanner car VIN code.</td>
                    </tr>
                    <tr>
                        <td>Implemented http and JSON with serve side communication to retrieve data.</td>
                    </tr>
                    <tr>
                        <td>Designed the UE and developed on iOS platform.</td>
                    </tr>
                </tbody>
            </table>

            <table>
                CaiXin New browser (Feb 2011 – Oct 2011, download at App Store: HERE)

                <tbody>

                    <tr>
                        <td>Implemented audio and video player with stream media.</td>
                    </tr>
                    <tr>
                        <td>Built magazine download and display inside.</td>
                    </tr>
                </tbody>
            </table>


            <table>

                <thead>
                    <tr>
                        <th>
                            Programmer (C#, ASP.NET)	<br />
                            VanceInfo Technologies Inc. (NYSE: VIT)
                        </th>
                        <th width="150">2008 - 2010</th>
                        <th width="150">Beijing, China</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Built up the capability of web site development under Windows SQL Server/Oracle with C# and ASP.NET, Web Services.</td>
                    </tr>
                    <tr>
                        <td>Performed software development tasks and assisted in the design and architecture of software applications individually or as a team member.</td>
                    </tr>
                    <tr>
                        <td>Reviewed, analyzed and modified programming systems to include coding, testing, debugging, installing and documenting to support organization’s software application.</td>
                    </tr>

                </tbody>
            </table>



            EDUCATION
            <table>
                <thead>
                    <tr>
                        <th>
                            Advanced Diploma in Software Engineering Technology
                        </th>
                        <th width="250">Centennial College</th>
                        <th width="150">2013.8 – Present</th>

                    </tr>
                    <tr>
                        <th>
                            Bachelor of Computer Science
                        </th>
                        <th width="250">Hebei University of Technologies</th>
                        <th width="150">2004.10 – 2008.7</th>

                    </tr>
                </thead>
            </table>


        </div>
    </div>
    <div class="row">
        <div class="large-12 column">
            <hr>
        </div>
    </div>

    <script src="/Scripts/jquery1.7/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/foundation/foundation.js"></script>
    <script src="/Scripts/foundation/foundation.topbar.js"></script>
    <script>
    $(document).foundation();
    </script>

