
    <div id="map_canvas" class="startPadingMap"></div>

    <br />

    <form>
        <div class="row">
            <div class="large-12 columns">
                <h5> Contact Name:</h5>

                <label>
                    <input type="text" placeholder="Please input your name" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h5>
                    Email/Cellphone:
                </h5>
                <label>

                    <input type="text" placeholder="Please input your cellphone nubmer or email address" />
                </label>
            </div>

        </div>

        <div class="row">
            <div class="large-12 columns">

                <h5>
                    Message:
                </h5>
                <label>
                    <textarea rows="8" placeholder="Please input your message "></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-1 columns">
                <br />
                <a href="#" data-reveal-id="myModal" class="button">Submit</a>
            </div>
            <div class="large-11 columns"></div>
        </div>

        <div id="myModal" class="reveal-modal" data-reveal>
            <h2>Awesome. </h2>
            <p class="lead">Thanks for your information.</p>
            <p>I'll contact your ASAP!</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </form>

    <!-- show Google Map address Scripts-->
    <script src="Scripts/jquery1.7/jquery-1.8.2.min.js"></script>
    <script src="Scripts/foundation/foundation.js"></script>
    <script src="Scripts/foundation/foundation.reveal.js"></script>
    <script src="Scripts/foundation/foundation.topbar.js"></script>
    <script>
        $(document).foundation();
    </script>

    <div class="row">
        <div class="large-12 column">
            <hr>
        </div>
    </div>
