<footer>
        <div class="row copyright">
            <div class="large-12 columns">
                (C)copyright BO LIU (Alex)<br />
                Cellphone: 416-833-4368 <br />
                <a href="mail:alexliubo@gmail.com">alexliubo@gmail.com</a><br />
                1 Lee Centre Drive Scarborough M1H3J2
            </div>

        </div>

        <div class="row">
            <div class="large-12 columns socialnetwork">
                <a href="#" class="lsf-icon" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a>
                <a href="https://www.facebook.com/Alex.LiuBo" class="lsf-icon" style="font-size:16px; margin-right:15px" title="facebook">Facebook</a>
                <a href="https://github.com/alexliubj" class="lsf-icon" style="font-size:16px; margin-right:15px" title="github">Github</a>
                <a href="https://www.linkedin.com/profile/view?id=304510863" class="lsf-icon" style="font-size:16px" title="linkedin">LinkedIn</a>
            </div>
        </div>
</footer>