<header>

    <div class="header">
        <nav class="top-bar select-menu" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Alex's Porfolio</a></h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                                    <li <% if (title === 'Portfolio') { %>class="current" <% } %> ><a href="/">Home</a></li>

                    <li <% if (title === 'About Me') { %>class="current" <% } %> ><a href="/aboutme">About me</a></li>
                     <li <% if (title === 'Projects') { %>class="current" <% } %> ><a href="/projects">Projects</a></li>
                    <li <% if (title === 'Services') { %>class="current" <% } %> ><a href="/services">Services</a></li>
                    <li <% if (title === 'Github') { %>class="current" <% } %> ><a href="/github">MyGithub</a></li>
                    <li <% if (title === 'Contact me') { %>class="current" <% } %> ><a href="/contactme">Contact me</a></li>
                </ul>
            </section>
        </nav>

        <div class="row">

            <div class="large-10 columns ">
                <ul class="navigation">
                            <li <% if (title === 'Portfolio') { %>class="current" <% } %> ><a href="/aboutme">Home</a></li>
                    <li <% if (title === 'About Me') { %>class="current" <% } %> ><a href="/aboutme">About me</a></li>
                     <li <% if (title === 'Projects') { %>class="current" <% } %> ><a href="/projects">Projects</a></li>
                    <li <% if (title === 'Services') { %>class="current" <% } %> ><a href="/services">Services</a></li>
                    <li <% if (title === 'Github') { %>class="current" <% } %> ><a href="/github">MyGithub</a></li>
                    <li <% if (title === 'Contact me') { %>class="current" <% } %> ><a href="/contactme">Contact me</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>