
    <div class="row startPading">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="https://itunes.apple.com/us/app/tomore/id913204640?l=zh&ls=1&mt=8">
                        <img src="/css/Content/images/icon4.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>iOS Application</h5>
                    <h4>TomoreApp</h4>
                    <p>
                        This is an iOS application which I made for Eastcoast Investing Group Inc as a part-time developer.
                        With this application you can:<br />
                        -Take and Post Pictures<br />
                        -follow friend<br />
                        -sharing your moment<br />
                        -getting local information in toronto<br />
                        -cards holder in your phone<br />
                        <a href="https://itunes.apple.com/us/app/tomore/id913204640?l=zh&ls=1&mt=8">Details</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="https://itunes.apple.com/us/app/cgctv/id868295920?mt=8">
                        <img src="/css/Content/images/icon1.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>iOS Application</h5>
                    <h4>CGCTV</h4>
                    <p>
                        The main task of CGCTV is to promote China’s image and disseminate Chinese civilization . It is not just the window of Chinese culture and Chinese products to the world, but also the friendly communication platform of culture exchange between China and rest of the world. Our television programs are diversified with audience covering whole North America. This station is producing and broadcasting in Mandarin content programs. 
                        <a href="https://itunes.apple.com/us/app/cgctv/id868295920?mt=8">Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="http://optib2b.ca">
                        <img src="/css/Content/images/icon2.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>WebSite</h5>
                    <h4>Optib2b.ca</h4>
                    <p>
                        A website built for OPTI which using it to provide an online tires selling and orders managment system.
                        <a href="http://optib2b.ca">Details</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="https://itunes.apple.com/us/app/stupidest-iq-pro/id785506052?mt=8">
                        <img src="/css/Content/images/icon3.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>Mobile Game</h5>
                    <h4>Stupidest</h4>
                    <p>
                        A whole new puzzle game with a series of creative puzzles, and absurd solutions that you will never ever thought of! Each puzzle is unique and pushes your creative thinking to the limit. Think out-of-box, don't think straight!
                        <a href="https://itunes.apple.com/us/app/stupidest-iq-pro/id785506052?mt=8">Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="https://itunes.apple.com/us/app/magic-fishery-fishing-joy/id598149176?mt=8">
                        <img src="/css/Content/images/icon5.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>Mobile Game</h5>
                    <h4>Magic Fishery</h4>
                    <p>
                        Fishing board game selling in iOS application store and Google Play.
                        <a href="https://itunes.apple.com/us/app/magic-fishery-fishing-joy/id598149176?mt=8">Details</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="https://itunes.apple.com/us/app/campro-photo-editor-inside!/id646298050?mt=8">
                        <img src="/css/Content/images/icon6.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>iOS Application</h5>
                    <h4>Campro</h4>
                    <p>
                        1. Various filters for your choice with each of them exclusively designed for you<br />
                        2. OneKey swtich to picture mode<br />
                        3. Select your favorite photo and design it with CamPro<br />
                        4. Accurate positioning with grid mode<br />
                        <a href="https://itunes.apple.com/us/app/campro-photo-editor-inside!/id646298050?mt=8">Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <a class="th" role="button" aria-label="Thumbnail" href="#">
                        <img src="/css/Content/images/coollogo1.png" alt="" />
                    </a>
                </div>
                <div class="large-7 columns">
                    <h5>This Website</h5>
                    <h4>Alex's Portfolio</h4>
                    <p>
                        
                        <a href="Content/External Document.docx">See more and download my documentation</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            
        </div>
    </div>

    <div class="row">
        <div class="large-12 column">
            <hr>
        </div>
    </div>

    <script src="/Scripts/jquery1.7/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/foundation/foundation.js"></script>
    <script src="/Scripts/foundation/foundation.topbar.js"></script>
    <script>
        $(document).foundation();
    </script>

