
    <!--using price table to show my service-->
    <div class="row startPading">
        <div class="row">
            <h3>Services:</h3>
        </div>
        <div class="row">
            <div class="large-12 column">
                <hr>
            </div>
        </div>
        <div class="large-4 columns">
            <ul class="pricing-table">
                <li class="title">iOS App Development</li>
                <li class="price">$35.99 per hour</li>
                <li class="description">3+ years Exp</li>
                <li class="bullet-item">Hi performance</li>
                <li class="bullet-item">Fancy Apps</li>
                <li class="bullet-item">Fast Relese</li>
                <li class="cta-button"><a class="button" href="contactme.html">Check Now</a></li>
            </ul>

        </div>
        <div class="large-4 columns">
            <ul class="pricing-table">
                <li class="title">Android App Development</li>
                <li class="price">$25.99 per hour</li>
                <li class="description">1+ years Exp</li>
                <li class="bullet-item">Hi performance</li>
                <li class="bullet-item">Fancy Apps</li>
                <li class="bullet-item">Fast Relese</li>
                <li class="cta-button"><a class="button" href="contactme.html">Check Now</a></li>
            </ul>
        </div>
        <div class="large-4 columns">
            <ul class="pricing-table">
                <li class="title">Game Development</li>
                <li class="price">$35.99 per hour</li>
                <li class="description">1+ years Exp</li>
                <li class="bullet-item">Cross-platform</li>
                <li class="bullet-item">Cocos2d</li>
                <li class="bullet-item">Unity3d</li>
                <li class="cta-button"><a class="button" href="contactme.html">Check Now</a></li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="large-12 column">
            <hr>
        </div>
    </div>

    <script src="/Scripts/jquery1.7/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/foundation/foundation.js"></script>
    <script src="/Scripts/foundation/foundation.topbar.js"></script>
    <script>
    $(document).foundation();
    </script>
